body {
  background: linear-gradient(90deg, #000000, #737373);
  color: #D9D9D9;
  font-size: 38px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
}

/* Header */

header {
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.header-container * {
  margin: 0;
  padding: 0;
  text-align: right;
}

.item-1 {
  grid-row: span 2;
  font-size: 300px;
  font-weight: 700;
  padding-right: 50px;
}

.item-2 {
  font-size: 144px;
  padding-top: 48px;
  text-align: left;
}

.item-3 {
  font-size: 61px;
  font-weight: 500;
  padding-bottom: 30px;
  text-align: left;
}

/* Main */

main {
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main-container-1 { 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 52%;
}

.main-container-1 img {
  width: 200px;
  border-radius: 50%;
}

.main-container-1 p a {
  color: white;
}

.main-container-2 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.table {  
  display: grid;
  grid-template-columns: 200px minmax(400px,800px);
  grid-template-rows: 200px 200px 200px;
  gap: 50px;
  width: 52%;
  align-items: center;
  text-align: left;

  margin: 0;
  padding: 0;
}

.img-site,
.img-course {
  width: 200px;
}

.table > h2 {
  grid-column: span 2;
  text-align: center;
}

/* Footer */

footer {
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

footer div {
  padding: 30px;
  height: 20%;

}

.link {
  border: #fff solid 3px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.rights {
  font-size: 24px;
}

@media (min-width: 750px) and (max-width: 1000px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-1 {
    font-size: 10em;
    padding: 0;
  }

  .item-2 {
    padding: 0;
  }

  .item-3 {
    padding-top: 50px;
  }

  .table {
    width: 85%;
  }

  .grid-item {
    font-size: 40px;
  }
}

@media (min-width: 660px) and (max-width: 750px) {
  .item-1 {
    font-size: 6em;
  }

  .item-2 {
    font-size: 3em;
  }

  .item-3 {
    font-size: 3rem;
  }

  .main-container-1 {
    width: 80%;
  }

  .table {
    width: 90%;
    grid-template-columns: 200px auto;
    .grid-item {
      font-size: 30px;
    }
  }
}

@media (min-width: 600px) and (max-width: 660px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-1 {
    font-size: 5em;
    padding: 0;
  }

  .item-2 {
    font-size: 2em;
  }

  .item-3 {
    font-size: 2rem;
  }

  .main-container-1 {
    width: 80%;
  }

  .table {
    grid-template-columns: 150px auto;
    width: 90%;
  }

  .table > img {
    width: 150px;
  }

  .grid-item {
    font-size: 25px;
  }
  /* footer > div >  */
  p {
    font-size: 2rem;
  }
}

/*   */
@media (min-width: 500px) and (max-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-1 {
    font-size: 5em;
    padding: 0;
  }

  .item-2 {
    font-size: 2em;
  }

  .item-3 {
    font-size: 2rem;
  }

  .main-container-1 {
    width: 80%;
  }

  .table {
    grid-template-columns: 150px auto;
    width: 90%;
  }

  .table > img {
    width: 150px;
  }

  /* footer > div >  */
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-1 {
    font-size: 4em;
    padding: 0;
  }

  .item-2 {
    font-size: 2em;
  }

  .item-3 {
    font-size: 2rem;
  }

  .main-container-1 {
    width: 80%;
  }

  .table {
    grid-template-columns: 140px auto;
    width: 90%;
    gap: 10px;
  }

  .table > img {
    width: 130px;
  }

  /* footer > div >  */
  p {
    font-size: 1.6rem;
  }

  .rights {
    font-size: 18px;
  }
}

@media (min-width: 280px) and (max-width: 500px) {
  h2 {
    font-size: 40px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-1 {
    font-size: 4em;
    padding: 0;
  }

  .item-2 {
    font-size: 1.6em;
  }

  .item-3 {
    font-size: 1.6rem;
  }

  .main-container-1 {
    width: 80%;
  }

  .table {
    grid-template-columns: 100px auto;
    width: 90%;
    gap: 10px;
  }

  .table > img {
    width: 100px;
  }

  .grid-item {
    text-align: left;
  }

  /* footer > div >  */
  p {
    font-size: 1.1rem;
    text-align: center;
  }

  .link {
    padding: 10px;
    font-size: 25px;
  }

  .rights {
    font-size: 18px;
    text-align: center;
  }
}
